* {
  box-sizing: border-box;
}

:root {
  --font-heading: Sen, sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  /* font-family: "Sen", sans-serif; */
}

body {
  font-size: 1.6rem;
  /* background: #fffcf4; */
}

/* Common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  display: block;
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  left: 21px;
  bottom: 6px;
}

/* main */
.tmp {
  height: 5000px;
}

.header .sign-up-btn {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* Hero */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* Hero Left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.hero .content-block {
  width: 52%;
}

.hero .hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 270px;
  padding: 24px;
}

.hero .hero-summary .item {
  display: flex;
  align-items: center;
}

.hero .hero-summary .item:nth-child(2) .icon {
  background: #fcefff;
}
.hero .hero-summary .item:nth-child(3) .icon {
  background: #fcefff;
}

.hero .hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9e8;
}

.hero-summary .info {
  margin-left: 19px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

/* Hero Right */
.hero .content-block {
  padding: 64px 0 0 130px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.content-block .cta-group {
  margin: 38px 0 48px;
  display: flex;
  align-items: center;
}

.content-block .hero-cta {
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background: var(--primary-color);
}

.content-block .watch-video {
  display: flex;
  align-items: center;
  border: none;
  margin-left: 28px;
  cursor: pointer;
  background: transparent;
}

.content-block .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
}

.content-block .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.content-block .desc {
  margin-top: 48px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 30px; /* 166.667% */
}

.content-block .stats {
  margin: 8px 0 0 -28px;
}

.content-block .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  padding: 0 8px 0 28px;
}
