* {
  box-sizing: border-box;
}

:root {
  --font-heading: Sen, sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  /* font-family: "Sen", sans-serif; */
}

body {
  font-size: 1.6rem;
  /* background: #fffcf4; */
}

/* Common */
.break-all {
  word-break: break-all;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.line-clamp.line-4 {
  --line-clamp: ;
}

.heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -1.16px;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17; /* 117.241% */
}

.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26; /* 126.316% */
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  display: block;
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  left: 21px;
  bottom: 6px;
}

/* main */
.tmp {
  height: 5000px;
}

.header .sign-up-btn {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* Hero */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* Hero Left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.hero .content-block {
  width: 52%;
}

.hero .hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 270px;
  padding: 24px;
}

.hero .hero-summary .item {
  display: flex;
  align-items: center;
}

.hero .hero-summary .item:nth-child(2) .icon {
  background: #fcefff;
}
.hero .hero-summary .item:nth-child(3) .icon {
  background: #fcefff;
}

.hero .hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9e8;
}

.hero-summary .info {
  margin-left: 19px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

/* Hero Right */
.hero .content-block {
  padding: 64px 0 0 130px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.content-block .cta-group {
  margin: 38px 0 48px;
  display: flex;
  align-items: center;
}

.content-block .hero-cta {
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background: var(--primary-color);
}

.content-block .watch-video {
  display: flex;
  align-items: center;
  border: none;
  margin-left: 28px;
  cursor: pointer;
  background: transparent;
}

.content-block .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
}

.content-block .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.content-block .desc {
  margin-top: 48px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 30px; /* 166.667% */
}

.content-block .stats {
  margin: 8px 0 0 -28px;
}

.content-block .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  padding: 0 8px 0 28px;
}

/* Popular */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.popular-top .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.popular-top .control {
  display: flex;
  gap: 18px;
}

/* Popular Course-List */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-list .thumb {
  /* +2px(left and right) cause of margin: -1px to align the pic with its frame */
  width: calc(100% + 2px);
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
  /* to allow the pic places over the frame'border */
  margin: -1px;
}

.popular .course-list .info {
  padding: 16px 22px 22px;
}

.popular .course-list .head,
.popular .course-list .rating,
.popular .course-list .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-list .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  padding-right: 4px;
}

.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.popular .course-list .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.popular .course-list .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}

.popular .course-item .book-btn {
  border: none;
}

.popular .course-item .book-btn:hover {
  color: #fff;
  background: var(--primary-color);
}

/* Feedback */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
}

.feedback .info .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .info .title {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.feedback .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.feedback .info .dots {
  margin-top: 28px;
  display: flex;
}

.feedback .info .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  margin-right: 6px;
  cursor: pointer;
}

.feedback .info .dot.active {
  background: #ffb900;
  cursor: default;
}

/* Feedback-content */
.feedback .content {
  width: 66%;
  margin-left: auto;
}

.feedback .content .desc {
  margin-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}

/* Features */
.features {
  margin-top: 135px;
  padding: 65px 0;
  /* background-color: orange; */
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .body .images {
  display: flex;
  gap: 30px;
}

.features .body .images img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features .body .images img.lower {
  margin-top: 34px;
}

.features .body .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background-color: aqua; */
}

.features .body .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75s; /* 175% */
}

.features .body .cta-btn {
  margin-top: 32px;
  min-width: 137px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

/* Features 2 */
.features-2 {
  margin-top: 135px;
}

.features-2 .body {
  display: flex;
  justify-content: space-between;
  gap: 130px;
}

.features-2 .body .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.features-2 .content .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.features-2 .content .btn.cta-join {
  margin-top: 32px;
  min-width: 137px;
  background: var(--primary-color);
}

.features-2 .img-content {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}

/*  */
/*  */
